#market {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fcd11f;
}

#market-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; 
  flex:1;
}

#market-body-left { 
  width:20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  margin-top: -0.2rem;
  background: #212035;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  min-height: 90vh;
}

#bgBuySell {
  width: 18vw;
  background: #29283D;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btnActive {
  margin: 0rem 1.5rem;
  width: 6rem;
  height: 2rem;
  background: #28a745;
  color: white;
}
.btnDeactive {  
  margin: 0rem 1.5rem;
  width: 6rem;
  height: 2rem;
  background: transparent;
  color: white;
}

#searchnft {
  margin: 0rem 1rem;
  padding-left: 1rem;  
  width: 18vw;
  height: 2rem;
  background: #29283d;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}

.groupcheckbox {
  margin: 0rem 1rem;  
  width: 18vw;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: #b3b89a;
}

.groupcheckbox > p {
  margin: 0.5rem;  
  width: 18vw;
  font-weight: bolder;
  color: #28a745;
}

#market-body-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex:1;
}

#market-body-right-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#market-body-right-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#market-body-right-filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

#market-body-right-filter > p {
  font-weight: bolder;
  margin-left: 1rem;
}

#market-body-right-filter > img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
