.card{
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .card-img{
    width: 13rem;
    height: 13.1rem;
    z-index: 10;
    border: 0.2rem solid #1EF6F9; ;
  }

  .card-border{    
      margin-top: -0.5rem;
    width: 12rem;
    height: 2rem;
    
    z-index: 9;
  }