.slider {
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.slider >input{
    width: 17vw;  
    /* margin-left: 1rem; */
    height: 0.2rem;
}

.slider>p{
    margin: 0.5rem 0rem;
    text-align: left;
}
.slider>div{
    margin-left: 0.5rem 0rem;
    text-align: left;
}
.slider>div>span{
    margin: 0.5rem 0rem;
    text-align: left;
}